* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Calibri', 'Verdana';
}

header {
    height: 75px;
    display: flex;
    line-height: 75px;
    background-color: rgb(0, 124, 138);
}

header img {
    height: 65px;
    align-self: center;
    min-width: 200px;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav a {
    padding: 0 25px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    background-color: rgb(0, 99, 110);
    transition: 0.5s ease;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s ease;
}

header span {
    min-width: 200px;
}
